<div *ngIf="isLoading">
  <loader [type]="'basic'"></loader>
</div>
<div class="flex justify-content-center" *ngIf="!isLoading">
  <p-card header="Profile" [subheader]="user.userName" class="p-4 shadow-2 border-round w-full lg:w-10">
    <ng-template pTemplate="header">
      <div class="flex align-items-center flex-wrap w-full">
        <p-toolbar class="w-full">
          <div class="p-toolbar-group-start">
            <i class="pi pi-user-edit mr-2" style="font-size: 2rem"></i>
            <p-button *ngIf="authenticationResponse.isUserAdmin" label="Users" styleClass="p-button-text" icon="pi pi-users" routerLink="/users"></p-button>
          </div>
          <div class="p-toolbar-group-end">
            <p-button label="Edit" styleClass="p-button-warning p-button-text" icon="pi pi-pencil" routerLink="/users/update" [queryParams]="{ userId: user.userId }"></p-button>
            <p-button label="Delete" styleClass="p-button-danger p-button-text" icon="pi pi-trash" (onClick)="confirmDelete()"></p-button>
          </div>
        </p-toolbar>
      </div>
    </ng-template>
    <div class="surface-section">
      <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">First name</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{ user.firstName }}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">Last name</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{ user.lastName }}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">Email</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ user.email }}
            <ng-container *ngIf="authenticationResponse.isUserAdmin">
              <i *ngIf="user.emailConfirmed" class="pi pi-verified m-1" style="color: 'var(--primary-color)'"></i>
              <i *ngIf="!user.emailConfirmed" style="color: red"></i>
            </ng-container>
          </div>
        </li>
        <ng-container *ngIf="authenticationResponse.isUserAdmin">
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Lockout end</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{ user.lockoutEnd }}</div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Lockout enabled</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{ user.lockoutEnabled }}</div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Access failed count</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{ user.accessFailedCount }}</div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">Registration time</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{ user.createdDate | date: "yyyy. MM. dd." }}</div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Roles</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
              <p-chip *ngFor="let role of user.roles" class="m-2">{{ role }}</p-chip>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="card flex justify-content-center">
      <p-toast position="bottom-center" key="confirm" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
              <div class="col-6">
                <button type="button" pButton (click)="deleteUser(user.userId)" label="Yes" class="p-button-success"></button>
              </div>
              <div class="col-6">
                <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </p-card>
</div>
