<div *ngIf="isLoading">
  <loader [type]="'basic'"></loader>
</div>
<div class="flex justify-content-center" *ngIf="!isLoading">
  <p-card
    class="p-4 shadow-2 border-round w-full lg:w-6"
    header="Add"
    subheader="Player"
  >
    <div>
      <form [formGroup]="addForm" (ngSubmit)="addPlayer(addForm.value)">
        <div class="field">
          <span class="p-float-label">
            <input
              id="name"
              type="text"
              formControlName="name"
              pInputText
              class="w-full"
              [ngClass]="{ 'ng-invalid ng-dirty': validateControl('name') }"
            />
            <label for="name" class="p-float-label">Name</label>
          </span>
          <small
            *ngIf="validateControl('name') && hasError('name', 'required')"
            class="p-error flex justify-content-center"
          >
            Name is required.
          </small>
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <input
              id="code"
              type="text"
              maxlength="5"
              formControlName="code"
              pInputText
              class="w-full"
              [ngClass]="{ 'ng-invalid ng-dirty': validateControl('code') }"
            />
            <label for="code" class="p-float-label">Code</label>
          </span>
          <small
            *ngIf="validateControl('code') && hasError('code', 'required')"
            class="p-error flex justify-content-center"
          >
            Code is required.
          </small>
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <input
              id="country"
              type="text"
              formControlName="country"
              pInputText
              class="w-full"
              [ngClass]="{ 'ng-invalid ng-dirty': validateControl('country') }"
            />
            <label for="country" class="p-float-label">Country</label>
          </span>
          <small
            *ngIf="
              validateControl('country') && hasError('country', 'required')
            "
            class="p-error flex justify-content-center"
          >
            Country is required.
          </small>
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <p-calendar
              id="birthdate"
              formControlName="birthdate"
              inputPlaceholder="DD/MM/YYYY"
              [showIcon]="true"
              [style]="{ width: '100%' }"
              [ngClass]="{
                'ng-invalid ng-dirty': validateControl('birthdate')
              }"
            >
            </p-calendar>
            <label for="birthdate" class="p-float-label">Birthdate</label>
          </span>
          <small
            *ngIf="
              validateControl('birthdate') && hasError('birthdate', 'required')
            "
            class="p-error flex justify-content-center"
          >
            Birthdate is required.
          </small>
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <p-dropdown
              [options]="positions"
              formControlName="position"
              optionLabel="label"
              placeholder="Select an option"
              [style]="{ width: '100%' }"
              [ngClass]="{ 'ng-invalid ng-dirty': validateControl('position') }"
            >
            </p-dropdown>
            <label for="position">Position</label>
          </span>
          <small
            *ngIf="
              validateControl('position') && hasError('position', 'required')
            "
            class="p-error flex justify-content-center"
          >
            Position is required.
          </small>
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <input
              id="number"
              type="number"
              min="1"
              max="99"
              formControlName="number"
              pInputText
              class="w-full"
              [ngClass]="{ 'ng-invalid ng-dirty': validateControl('number') }"
            />
            <label for="number" class="p-float-label">Shirt number</label>
          </span>
          <small
            *ngIf="validateControl('number') && hasError('number', 'required')"
            class="p-error flex justify-content-center"
          >
            Shirt number is required.
          </small>
          <small
            *ngIf="hasError('number', 'min')"
            class="p-error flex justify-content-center"
            >This number is too small.</small
          >
          <small
            *ngIf="hasError('number', 'max')"
            class="p-error flex justify-content-center"
            >This number is too high.</small
          >
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <input
              id="height"
              type="number"
              min="160"
              max="220"
              formControlName="height"
              pInputText
              class="w-full"
              [ngClass]="{ 'ng-invalid ng-dirty': validateControl('height') }"
            />
            <label for="height" class="p-float-label">Height</label>
          </span>
          <small
            *ngIf="validateControl('height') && hasError('height', 'required')"
            class="p-error flex justify-content-center"
          >
            Height is required.
          </small>
          <small
            *ngIf="hasError('height', 'min')"
            class="p-error flex justify-content-center"
            >This height is too small.</small
          >
          <small
            *ngIf="hasError('height', 'max')"
            class="p-error flex justify-content-center"
            >This height is too high.</small
          >
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <p-dropdown
              [options]="foots"
              formControlName="foot"
              optionLabel="label"
              placeholder="Select an option"
              [style]="{ width: '100%' }"
              [ngClass]="{ 'ng-invalid ng-dirty': validateControl('foot') }"
            >
            </p-dropdown>
            <label for="foot">Preferred foot</label>
          </span>
          <small
            *ngIf="validateControl('foot') && hasError('foot', 'required')"
            class="p-error flex justify-content-center"
          >
            Preferred foot is required.
          </small>
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <input
              id="value"
              type="number"
              min="0"
              formControlName="value"
              pInputText
              class="w-full"
              [ngClass]="{ 'ng-invalid ng-dirty': validateControl('value') }"
            />
            <label for="value" class="p-float-label">Market value</label>
          </span>
          <small
            *ngIf="validateControl('value') && hasError('value', 'required')"
            class="p-error flex justify-content-center"
          >
            Market value is required.
          </small>
          <small
            *ngIf="hasError('value', 'min')"
            class="p-error flex justify-content-center"
            >This value is too small.</small
          >
        </div>
        <div class="field my-4">
          <p-toggleButton
            formControlName="captain"
            onLabel="Captain?"
            offLabel="Captain?"
            onIcon="pi pi-check"
            offIcon="pi pi-times"
          ></p-toggleButton>
        </div>
        <div class="field flex justify-content-center">
          <button
            pButton
            pRipple
            label="Add"
            icon="pi pi-plus"
            class="w-full"
            type="submit"
            [disabled]="!addForm.valid"
          ></button>
        </div>
      </form>
    </div>
  </p-card>
</div>
