<div *ngIf="isLoading">
  <loader [type]="'basic'"></loader>
</div>
<div class="flex justify-content-center" *ngIf="!isLoading">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img src="assets/images/logo.png" alt="Image" height="100" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Reset your password!</div>
    </div>
    <div class="card" *ngIf="showError">
      <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
    </div>
    <div class="card" *ngIf="showSuccess">
      <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
      <button pButton pRipple label="Login" icon="pi pi-sign-in" class="w-full" type="submit" routerLink="/login"></button>
    </div>
    <div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
        <div class="field my-4">
          <span class="p-float-label">
            <p-password formControlName="password" [toggleMask]="true" [feedback]="true" [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
              [ngClass]="{'ng-invalid ng-dirty': validateControl('password')}">
            </p-password>
            <label for="password">Password</label>
          </span>
          <small *ngIf="validateControl('password') && hasError('password', 'required')" class="p-error flex justify-content-center">
            Password is required.
          </small>
        </div>
        <div class="field my-4">
          <span class="p-float-label">
            <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false" [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
              [ngClass]="{'ng-invalid ng-dirty': validateControl('confirmPassword')}">
            </p-password>
            <label for="confirmPassword">Confirmation password</label>
          </span>
          <small *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'required')" class="p-error flex justify-content-center">
            Confirmation password is required.
          </small>
          <small *ngIf="hasError('confirmPassword', 'mustMatch')" class="p-error flex justify-content-center">
            Passwords must match.
          </small>
        </div>
        <div class="field flex justify-content-center">
          <button pButton pRipple label="Reset" lass="w-full" type="submit" [disabled]="!resetPasswordForm.valid"></button>
        </div>
      </form>
    </div>
  </div>
</div>
