<div *ngIf="isLoading">
    <loader [type]="'basic'"></loader>
</div>
<div class="flex justify-content-center" *ngIf="!isLoading">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img src="assets/images/logo.png" alt="Image" height="100" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Forgot password</div>
        <span class="text-600 font-medium line-height-3">Do you already have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">Sign up!</a><br>
        <span class="text-600 font-medium line-height-3">Don't have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/registration">Create today!</a>
    </div>
    <div class="card" *ngIf="showError">
      <p-messages [(value)]="message" [enableService]="false" [closable]="true"></p-messages>
    </div>
    <div class="card" *ngIf="showSuccess">
      <p-messages [(value)]="message" [enableService]="false" [closable]="true"></p-messages>
    </div>
      <div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
          <div class="field my-4">
            <span class="p-float-label">
              <input id="email" type="email" formControlName="email" placeholder="user@example.com" pInputText class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': validateControl('email')}"/>
              <label for="email" class="p-float-label">Email</label>
            </span>
            <small *ngIf="validateControl('email') && hasError('email', 'email')" class="p-error flex justify-content-center">
              Please provide a valid email.
            </small>
            <small *ngIf="validateControl('email') && hasError('email', 'required')" class="p-error flex justify-content-center">
              Email is required.
            </small>
          </div>
        <button pButton pRipple label="Submit" icon="pi pi-send" class="w-full" type="submit" [disabled]="!forgotPasswordForm.valid"></button>
      </form>
    </div>
  </div>
</div>
